/build
/gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
/app/build
/app/libs
/app/build.gradle
/app/proguard-rules.pro
/app/src/androidTest
/app/src/test
/app/src/main/res
/app/src/main/AndroidManifest.xml

